<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <listener>
    <listener-class>com.polytech.propps.servlets.PROPPSServlet</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.polytech.propps.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InscriptionUtilisateur</servlet-name>
    <servlet-class>com.polytech.propps.servlets.InscriptionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionUtilisateur</servlet-name>
    <url-pattern>/registUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InscriptionRecruteur</servlet-name>
    <servlet-class>com.polytech.propps.servlets.InscriptionRecruteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionRecruteur</servlet-name>
    <url-pattern>/registRecruiter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RechercheRapide</servlet-name>
    <servlet-class>com.polytech.propps.servlets.RechercheRapide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheRapide</servlet-name>
    <url-pattern>/quickSearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddExperiencePro</servlet-name>
    <servlet-class>com.polytech.propps.servlets.AddExperiencePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperiencePro</servlet-name>
    <url-pattern>/addExpPro</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.polytech.propps.servlets.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/seeUserProfile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CurrentUserProfileServlet</servlet-name>
    <servlet-class>com.polytech.propps.servlets.CurrentUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentUserProfileServlet</servlet-name>
    <url-pattern>/seeCurrentUserProfile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DemandeRelation</servlet-name>
    <servlet-class>com.polytech.propps.servlets.DemandeRelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeRelation</servlet-name>
    <url-pattern>/relationAsk</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReponseDemande</servlet-name>
    <servlet-class>com.polytech.propps.servlets.ReponseDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReponseDemande</servlet-name>
    <url-pattern>/relationAnswer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifInfosPersoServlet</servlet-name>
    <servlet-class>com.polytech.propps.servlets.ModifInfosPersoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifInfosPersoServlet</servlet-name>
    <url-pattern>/modifPersonalInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AppliquerModifsConnexion</servlet-name>
    <servlet-class>com.polytech.propps.servlets.AppliquerModifsConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppliquerModifsConnexion</servlet-name>
    <url-pattern>/applyModifsConnect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AppliquerModifPerso</servlet-name>
    <servlet-class>com.polytech.propps.servlets.AppliquerModifPerso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppliquerModifPerso</servlet-name>
    <url-pattern>/applyModifsPerso</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AutoCompletionServlet</servlet-name>
    <servlet-class>com.polytech.propps.servlets.AutoCompletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompletionServlet</servlet-name>
    <url-pattern>/autoCompletion</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>